name: Deploy Website

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy files to VPS
        run: |
          curl -X POST https://ci.deforge.io/prod/docs \
          -H "x-api-key: ${{ secrets.CI_API_KEY }}" \
          -H "Content-Type: application/json"